/* COMMUN */

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    scrollbar-width: none;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    overflow: visible;
    height: 100%;
    margin: 0 0 75px;
}
.content {
    margin: 0 20px;
    padding: 45px 0 60px 0;
    position: relative;
    min-height: 250px;
}

header, .footer {
    text-align: center;
}

header {
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 40vh;
    position: relative;

}

h1 {
    vertical-align: center;
    font-weight: 700;
    font-size: 5em;
    line-height: 40vh;
    color: #fff;
}
h2, h4 {
    color: #7c2d37;
    font-weight: 600;
}
h2 {
    /*margin-left: 10vw;*/
    text-align: center;
}

.navbar {
    height: 50px;
    background-color: #000;
    color: #fff;
    width: 100vw;
}
.navbar-nav {
    background-color: #000;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.navbar-btn {
    position: absolute;
    right: 5px;
}
.navbar-content {
    width: 100%;
}
.navbar li {
    margin: 0 10px;
    padding: 0 15px;
    position: relative;
}

.navbar li a::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0px;
    left: 0;
    bottom: 10px;
    transition: all .5s ease;

}

.navbar li a:hover:before {
    width: 100%;
    background: #7c2d37;
}


.navbar li a {
    color: #fff;
    font-weight: 700;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.center-div {
    margin: 0 auto;
}
.pages.page-recipe, .pages.page-cooks{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.btn-submit, .btn-modify {
    background-color: #7c2d37;
    color: #fff;
    font-weight: 600;
    margin: 0 2px;
}
.btn-submit:hover, .btn-modify:hover {
    color: #7c2d37;
    background-color: #fff;
    border: 1px solid #7c2d37;
}

.content .btn .btn-modify a, .btn-modify a, .wrapper-cook .btn-modify a {
    color: #fff;
}

.content .btn .btn-modify a:hover,.wrapper-recipe .btn-modify a:hover, .wrapper-cook .btn-modify a:hover, #wrapper-lists a, .list-btn-total a:hover, .btn-modify.back a:hover {
    color: #7c2d37;
}
form {
    width: 300px;
    padding-bottom: 30px;
    text-align: center;
}

/* FOOTER */
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 75px;
    width: 100%;
    background-color: rgba(188, 125, 77, 0.8);
    padding: 10px 0;
}
.footer .mention {
    margin: 20px 0;
    font-weight: 600;
}
/* PAGE INDEX */
.wrapper-recipe {
    position: relative;
    border: 1px solid rgba(188, 125, 77, 0.8);
    padding: 10px;
    margin: 10px;
}
.wrapper-recipe-hidden {
    display: none;
}
.wrapper-recipe a {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
}
.wrapper-recipe .img-recipe {
    margin: 0 10px;
    width: 300px;
    height: auto;

}
.content-recipe {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.fouet {
    width: 20px;
    height: 20px;
}
.span-round {
    font-size: 26px;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    margin: 2px;
}
/* page recipe */
.wrapper-single-recipe {
    margin: 10px 10vw;
    position: relative;
    z-index: -1;
}
.content-single-recipe .img-recipe {
    margin: 0 10px;
    width: 300px;
    height: auto;
}
.content-single-recipe {
    display: flex;
    justify-content: flex-start;
    margin-left: 10vw;
}
.wrapper-single-recipe ol, .wrapper-single-recipe ul {
    margin-left: 20px;
}
/* PAGE AUTHENTICATION */

#form input[name=password] {
    pointer-events: none;
    background: #ddd;
}
#pad {
    margin: 10px 0;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: .5rem;
}

.case {
    background-color: #ddd;
}

.case span {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    cursor: pointer;
}
.submit-reset {
    text-align: center;
}
.result {
    text-align: center;
    margin: 0;
    font-weight: 600;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* DASHBOARD */

#wrapper-lists {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}
#wrapper-lists > div {
    width: 40vw;
    height: 30vh;
    box-shadow: 1px 1px 7px lightgrey;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    line-height: 30vh;
    font-weight: 700;
    font-size: 2em;
}
#wrapper-lists a {
    text-decoration: none!important;
    color: #fff;
}
#wrapper-lists > div:hover {
    filter: brightness(75%);
}
#wrapper-lists #cooks {
    background-image: url('../img/cuisiniers.jpg');

}
#wrapper-lists #recipes {
    background-image: url('../img/recettes.jpg');
}

/* LISTS */

.list-btn {
    /*position: absolute;*/
    width: 300px;
    margin: 15px auto;
    bottom: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.list-btn.list-btn-cook, .list-btn.list-btn-recipe {
    position: relative;
    bottom: unset;
    right: unset;
    margin: 15px auto;
}
.back {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
}
.back a, .btn.btn-modify.deleteAll a {
    text-decoration: none;
    color: #fff;
}
.back a:hover, .btn.btn-modify.deleteAll a:hover {
    color: #7c2d37;
}

/* COOKS */
.list-cook {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper-cook {
    position: relative;
    text-align: center;
    width: 600px;
    margin: 5px 0;
    border: 1px solid rgba(188, 125, 77, 0.8);

}
.wrapper-cook a {
    text-decoration: none;
    color: black;
    justify-content: flex-start;
}
.content-cook {
    padding: 5px;
    /*display: flex;
    align-items: center;*/
    text-align: center;
}
.wrapper-single-cook {
    text-align: center;
    margin: 0 auto;
    align-items: center;
}

.img-cook {
    width: 120px!important;
    height: auto;
}
.btn.btn-modify.deleteAll {
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    position: absolute;
    bottom: 5px;
    min-width: 270px;
}
/* FORM DELETE */

#form-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* RESPONSIVE */
@media screen and (max-width: 975px){
    h1 {
        font-size: 3em;
    }
    .navbar a {
        font-size: 0.9em;
    }
    .list-btn {
        position: relative;
        bottom: unset;
    }
}

@media screen and (max-width: 767px){
    header {
        height: 30vh;
    }
    h1 {
        line-height: 30vh;
    }
    #navbarContent {
        min-width: 100vw;
    }
    .navbar-nav {
        background-color: #7c2d37;
        border-radius: 3px;
        top: 50px;
        z-index: 10000;
        max-width: 160px;
        float: right;
    }
    .navbar li {
        padding: 0;
    }
    .navbar li a {
        color: white;
    }
    .content {
        margin: 0;
        padding: 40px 0;
    }
    .img-recipe {
        width: 200px;
    }
    #wrapper-lists > div {
        width: 65vw;
        font-size: 1.8em;
    }

}
@media screen and (max-width: 650px){
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
        margin-left: 5px;
    }
    .nav-link {
        font-size: 0.8em!important;
    }
    .wrapper-recipe a {
        flex-direction: column;
    }
    .wrapper-recipe .img-recipe {
        width: unset;
    }
    .content-single-recipe {
        flex-direction: column;
        margin: 0 5px;
    }
    .content-single-recipe .img-recipe , .content-single-recipe  .content-recipe{
        width: 100%;
    }
    .wrapper-cook {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 300px;
    }

    .wrapper-lists > div {
        font-size: 1.8em;
    }
    .btn-modify.back a {
        font-size: 1em;
    }
}
@media screen and (max-width: 586px){
    h3 {
        font-size: 1.5em;
    }
    .content-recipe, .wrapper-single-recipe {
        font-size: 0.8em;
    }
    .wrapper-single-recipe {
        flex-direction: column;
    }
    .wrapper-single-recipe .img-recipe {
        width: 100%;
    }
    .wrapper-single-recipe .content-recipe {
        margin: 10px 0 0 0;
    }
    #wrapper-lists > div {
        height: 20vh;
        line-height: 20vh;
        font-size: 1.5em;
    }
    .content-single-recipe .img-recipe {
        margin: 10px 0;
        padding: 0 15px;
    }

    .span-round {
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 0.8em;
    }
    .span-round img {
        width: 12px;
        height: 12px;
    }
}
@media screen and (max-width: 400px){
    h1 {
        font-size: 1.5em;
        line-height: 20vh;
    }
    header {
        height: 20vh;
    }
    #wrapper-lists > div {
        height: 20vh;
        line-height: 20vh;
        font-size: 1.2em;
    }
    .mention, .breadcrumb {
        font-size: 0.8em;
    }

}